{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div>
   <div class="topnav">
     <a href="">HOME</a> |
     <a href="/hardware">HARDWARE</a> |
     <a href="/software">SOTWARE</a> |
     <a href="/tutor">TUTOR</a> 
</div>

    {% block content %}
{% endblock %}
</body>
</html>